<div id="login_wrap">
	<h1 id="logo">Nucleus</h1>
	<h2 class="sub_title green">Welcome to Nucleus Student Setup</h2>
	<%= render partial: 'admin_sessions/form', locals: {admin_session: @admin_session} %>
</div>
