<footer id="ft">
	<div id="footer">
	  <div id="copyright_container" class="footer_text">
	    © <%= Time.now.year %> Verisk Health Inc. | CPT<sup class="superScript">®</sup> © <%= Time.now.year %> American Medical Association. | Current
	                    Dental Terminology. © <%= Time.now.year %> American Dental Association. | All rights reserved.
	  </div>
	  <div id="build_version" class="footer_text">Version: <%= APP['version_number'] %></div>
	</div>
</footer>