<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => 'layouts/application/login_headmeta' %>
</head>
<body>
  <div id="wrapper">
    <div id="inner">
      <%= yield %>
    </div>
	</div>
  <%= render :partial => "layouts/cdn_scripts" %>
  <%= render :partial => "layouts/application/scripts" %>
</body>
</html>